.navBtn{
    background-color: transparent;
    border: none;
    color: #555;
    font-size: 1.5em;
    font-weight: 600;
    cursor: pointer;
    outline: none;
}

.navBtn:hover{
    color : rgb(0, 157, 255);
}

.blue_Navbtn{
    color: rgb(0, 157, 255);
}