.pallet{
    position: relative;
    width: 100%;
    box-sizing: border-box;
    margin-top: 30px;
    background-color: #fff;
    box-shadow: 0 25px 50px #aaa;
    border-radius: 20px;
    z-index: 1000;
}

.pallet_nav{
    font-size: 7px;
}

.pallet__colors{
    display: flex;
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    padding: 100px 10px;
}

.pallet__colors--item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
}

@media(max-width : 950px){
    .pallet__colors{
        width: 95%;
    }

}

@media(max-width : 800px){
    .pallet__colors{
        display: grid;
        grid-template-rows: repeat(2,1fr);
        grid-template-columns: repeat(3,50px);
        grid-row-gap: 20px;
        padding: 50px 10px;
    }

}