.question{
    margin-top: 50px;
}

.question__item{
    width: 900px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(auto,1fr);
    grid-row-gap: 30px;
    margin: 30px auto;
}

@media(max-width : 950px){
    .question__item{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .question{
        text-align: center;
    }

    .question__head{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}