.blocks{
    width: 130px;
    height: 200px;
    border-radius: 15px;
    margin: 5px;
}

.oval{
    width: 80px;
    height: 250px;
    border-radius: 50px;
    margin: 5px;
}

@media(max-width : 850px){
    .oval{
        width: 60px;
        height: 150px;
    }

    
}