.QuestionItem{
    width: 400px;
    position: relative;
}

.questionItem__head{
    width: fit-content;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.questionItem__detail{
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: height 0.3s ;
    transition: opacity 0.3s 0.1s;
}

.showdetail{
    height: fit-content;
    display: block;
    opacity: 1;
    visibility: visible;
}

.qusrionItem__arrow{
    font-size: 25px;
    margin-left: 5px;
    margin-top: -3px;
    color: #ccc;
    transition: all 0.2s;
}

.rotateArrow{
    transform: rotate(90deg);
}

.QuestionItem h3{
    color: black;
    font-size: 15px;
    font-weight: 600;
    transition: all 0.2s;
}

.QuestionItem h3:hover{
    color:  rgb(0, 157, 255);
}

.QuestionItem p{
    color: #aaa;
    font-weight: 100;
    font-size: 12px;
}

.QuestionItem div{
    color: #17b7b3;
    font-weight: 600;
    cursor: pointer;
}

.QuestionItem__line{
    position: absolute;
    top: 10px;
    left: -10px;
    width: 5px;
    height: 23px;
    background-color: #ccc;
    border-radius: 5px;
}

@media(max-width : 460px){
    .QuestionItem{
        width: 300px;
    }
}

@media(max-width : 350px){
    .QuestionItem{
        width: 95%;
        margin: 0 auto;
    }
}